/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* @font-face {
  font-family: futura;
  src: url('./fonts/futura-pt-book.otf');
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

.body,
body,
html {
  font-family: Poppins, sans-serif;
  color: #000;
}
.hero {
  /* background-image: url('../public/main.jpg'); */
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #434344;
  letter-spacing: 2px;
}

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: theme('colors.gray.100');
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

 .swiper-slide {
  text-align: center;
  background: theme('colors.gray.100');
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
} 

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero{
  transition: all .3s ease;
}

.hero:hover{
  opacity: 1;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}

@media (max-width: 765px) {
.hero{
  opacity: 1;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}
}

.hero:hover .hero__title{
  opacity: 1;
}

.hero__dash{
  transition: all .7s ease;
}

.hero__link:hover .hero__dash{
  margin: 0px 3rem;
}

.nav__link{
  background-image: linear-gradient(
    to right,
    theme('colors.gray.800'),
    theme('colors.gray.800') 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
}

.nav__link:before {
  content: '';
  background: theme('colors.gray.800');
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.2s ease-in-out;
font-weight: normal;
}

.nav__link:hover {
 background-position: 0;
}

.nav__link:hover::before {
  width:100%;
}

.loader{
    width: 56px;
    height: 56px;
    border: 4px solid theme('colors.gray.800');
    border-radius: 50%; 
    animation: loader-scale 1s ease-out infinite;
    top: 50%;
    margin: -28px auto 0 auto;
}

@keyframes loader-scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}


.fade-enter {
  opacity: 0;
  transform: translate(0, 25px);
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 30px);

  transition: opacity 250ms ease-out, transform 300ms ease;
}